---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Dead Tech Guy";
const identity = {
    firstName: "Siva",
    country: "India",
    occupation: "Unemployed",
    hobbies: ["Coding", "Sleeping", "Tweeting"],
}
const skills = ["HTML", "CSS", "JavaScript", "Astro", "React", "Node.js"];
const happy = true
const finished = false;
const goal = 3;

const skillColor = "green";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>About The DTG Guy,</h1>
    <h2>Learn more {pageTitle}'s journey and projects.</h2>
    <p>This page provides information about the Dead Tech Guy's background, projects, and contributions to the tech community.</p>
    <p>Feel free to explore the content and learn more about the Dead Tech Guy's journey in the world of technology.</p>
    <p>Here are some facts about the Dead Tech Guy:</p>
    <ul>
        <li>Name: {identity.firstName}</li>
        <li>Country: {identity.country}</li>
        <li>Occupation: {identity.occupation}</li>
        <li>Hobbies: {identity.hobbies.join(", ")}</li>
    </ul>
    <p>Skills:</p>
    <ul>
    {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>The Dead Tech Guy is happy to share his knowledge and experiences with the community!</p>}
    {!finished && <p>There are still many projects and goals that the Dead Tech Guy is working on. Stay tuned for updates!</p>}
    {goal > 0 ? <p>The Dead Tech Guy has set a goal to complete {goal} more projects this year.</p> : <p>The Dead Tech Guy has achieved all his goals for this year!</p>}

</BaseLayout>


<style define:vars="{{skillColor}}">
    h1 {
        color: purple;
        font-size: 4rem
    }
    .skill{
        color: var(--skillColor);
        font-weight: bold;
    }
</style>

